<nav class="nav bg-light padding">
    <li class="nav-item">
        <%= link_to  "inicio", root_path, class:"nav-link" %>
    </li>
    <li class="nav-item">
        <%= link_to  "articulos", articles_path, class:"nav-link" %>
    </li>
    <li class="nav-item">
        <%= link_to  "nuevo", new_articles_path, class:"nav-link" %>
    </li>
<%if user_signed_in?%>
    <li class="nav-item">
        <%= link_to  "Cerrar Sesion", destroy_user_session_path, method: :delete, class:"nav-link" %>
    </li>
<%else%>
    <li class="nav-item">
        <%= link_to  "Iniciar Sesion", user_session_path, class:"nav-link" %>
    </li>
    <li class="nav-item">
        <%= link_to  "Registro", new_user_registration_path, class:"nav-link" %>
    </li>
<%end%>
</nav>