<!DOCTYPE html>
<html>
  <head> 
    <title>Prueba</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <% if notice %>
    <p class="alert alert-primary"><%= notice %></p>
  <%end%>
  <% if alert %>
    <p class="alert alert-danger"><%= alert %></p>
  <%end%>
  
    <%= render  "partials/nav" %>
    <%= yield %>
  </body>
</html>
