<div class="large-container center-block">
<h1 class="margin-top">Mis articulos</h1>

<% @articles.each do |article| %>
<div class="card margin-top padding">
    <h3 class="text-uppercase">
    <%= article.id%>
    <%= article.title%>
    </h3>
    <p class="text-secondary"><%= article.created_at%></p>
    <%= link_to  "Ver mas", article %>
</div> 
<%end%>
</div>